* {
  font-family: "Inter", sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.container-banner {
  flex: 6;
  background-color: #7879f1;
  padding: 20px;
}

.container-login {
  flex: 4;
  padding: 20px;
}

@media screen and (max-width: 1022px) {
  .container-banner {
    display: none;
  }
}
